.card_header{
    color: white;
    font-size: 22px;
    margin-bottom: 26px;
}
p {
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
    color: #646464;
    line-height: 1.8;
}
.services{
    background-color: rgb(46, 65, 88);
    text-align: center;
    padding: 50px 24px;
    border-radius: 5px;
}
.s-icon{
    background-color: #586779;
    width: 61px;
    height: 61px;
    font-size: 22px;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
    margin-bottom: 30px;
}
.s-p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 1.8;
    font-weight: 400;
}